/* Reset de estilos para todos los elementos */
* {
  margin: 0; /*margen*/
  padding: 0; /*espacio entre elementos*/
  border: 0;    /*borde*/
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Cabin', sans-serif;
  background-color: #000;
  color: #fff;
  overflow-x: hidden; /* Evita el scroll horizontal */
  

}
/* Etamaño logo nav */
.logo-viajes { 
  width: 50px;
}
  /* Estilos para la barra de navegación */
  #menu {
    background-color: transparent;     
}


    /* Estilos para el carrusel */
    .carousel-container-fluid {
      width: 100%;     
      overflow: hidden;
  }

  .carousel-inner {
      display: flex;
      width: 300%; /* 100% * número de slides en el carrusel */
      transition: transform 0.5s ease-in-out;
  }

  .carousel-item {
      width: 33.333%; /* 100% / número de slides en el carrusel */
      float: left;
      box-sizing: border-box; /* Evita que se sume el padding al ancho */
  }
  /*.carousel-item img {
      max-height: 100vh;  maximo ancho pantalla, medida view height vista ancho 
  }*/




/* Cambiar el diseño de las barras por puntos en el carrusel en Bootstrap 5 */
.carousel-indicators [data-bs-target] {
  border-radius: 50%;/*cambiar rayas a redondas*/
  width: 8px; /* Ajusta el tamaño de los puntos según tu preferencia */
  height: 8px;
  background-color: #fff;
  border: 1px solid #000;
  opacity: 0.5; /* Opacidad de los puntos inactivos */
  transition: opacity 0.6s ease;
  background-size: cover;  /* Ajustar la imagen de fondo al tamaño del contenedor */
}

.carousel-indicators {
  top: auto; /* Elimina la propiedad 'top' para que los puntos estén alineados en la parte inferior */
  bottom: 10px; /* Ajusta la posición vertical de los puntos según tu preferencia */
  left: 50%; /* Centra los puntos horizontalmente */
  transform: translateX(-50%); /* Centra los puntos horizontalmente */
}

.carousel-indicators .active {
  width: 10px; /* Ajusta el tamaño del punto activo según tu preferencia */
  height: 10px;
  background-color: #000;
  opacity: 1; /* Punto activo completamente visible */
}
#iconos {
  justify-content: center;
  background-color: turquoise;
  
}
.card-body {
  background-color: turquoise;
  min-height: 200px;  /*minimo alto texto tarjeta*/
}
.card img {
  max-width: 300px;
  max-height: 150px; /*maximo alto imagen tarjeta*/
}

#form {
  background-color: #000000
  color(srgb #dddddd)
}
#tercer-form {
 margin-bottom: 20px;

}
.d-inline-block {
  background-color: turquoise;
  color: #fff;
}
.footer {
  background-color: turquoise;
  font-size: 25px; 
  
  
}

